 body{
 background-color: #de83be
}
img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
h1{
    font-size: 5em;
    color: white;
    font-family: lobster;

}
p{
    font-size: 2em;
}
img:hover{
    background-color: blue;
}